{% extends '_base.html' %}
{% block title %}WorldFood.Guide - Error 400{% endblock %}
{% load static %}
{% block content %}
<h1>Sorry! something went wrong :(</h1>
<div class="well well-white" style="text-align:center;">
	<a href="https://worldfood.guide/"><img style="margin-bottom:15px;" src="{% static 'images/broken_plate.jpg' %}" width="400px"></a>

	<h3>Let us know what happend</h3>
	<p>(Error 400) in:<br/>
	<b style="color:red;">https://worldfood.guide{{patherror|truncatechars:68}}</b>
	</p>
	<p><a href="https://worldfood.guide/contact/" >Contact us</a></p>
	<p>Click <a href="https://worldfood.guide/" rel="nofollow">here</a> to go to the main page</p>
</div>
{% endblock %}