{% extends '_base.html' %}
{% block title %}WorldFood.Guide - Error 403{% endblock %}
{% load static %}
{% block content %}
<h1>Forbidden Access</h1>
<div class="well well-white" style="text-align:center;">
	<a href="https://worldfood.guide/"><img style="margin-bottom:15px;" src="{% static 'images/broken_plate.jpg' %}" width="400px"></a>

	<h3>You don't have the credentials to access the URL:</h3>

	<h3 style="color:red;">https://worldfood.guide{{patherror|truncatechars:68}}</h3>
	<p>Click <a href="https://worldfood.guide/" rel="nofollow">here</a> to go to the main page</p>
</div>
{% endblock %}