{% extends '_base.html' %}
{% block title %}WorldFood.Guide | About{% endblock %}
{% block content %}
<h1>About</h1>
<div class="well well-white">
  <p>WorldFood.Guide is an online interactive and collaborative database of information related to dishes from different cuisines around the world. Information about dishes includes: photos, descriptions, main ingredients and cuisine origin.</p>
  <p>WorldFood.Guide allows someone who is unfamiliar with a dish to see photos and a description of the dish. This can be useful in a restaurant setting or just for curiosity's sake.</p>
  <p>The information on the website is uploaded by registered users, aka <em>Foodies</em>. <em>Foodies</em> can create/upload and edit information about dishes, cuisines, and photos. <em>Foodies</em> can also &ldquo;like&rdquo; photos in order for the most liked photo to appear first.</p>
  <p>WorldFood.Guide includes the following features: </p>
  <ul>
    <li>
      <p>Search dishes and filter them by name, ingredient, cuisine, member, etc</p>
    </li>
    <li>
      <p>Edit description of Dishes and Cuisines</p>
    </li>
    <li>
      <p>Register and create a personal profile</p>
    </li>
  </ul>
</div>
{% endblock %}