{% extends '_base.html' %}

{% block title %} Foodies 
	{% if paginatorlist.paginator.count > 15 %}
		| Page {{paginatorlist.number}}
	{% endif %}
{% endblock %}

{% block super-extra-head %}
	{% load static %}
	<script src="{% static 'dist/jquery/jquery-1.12.0.min.js' %}"></script>
	<script type="text/javascript">
		$(document).keydown(function(e) {
			if(e.keyCode === 39) {
				document.getElementById('next').click()
			}
			if(e.keyCode === 37) {
				document.getElementById('prev').click()
			}
		});
	</script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}

<table width="100%" class="nolinetable">
<tr>
<td><h1 style="padding-bottom:0px;">Foodies 
	<span class="label label-default" style="display:inline;vertical-align:top;">{{ paginatorlist.paginator.count }}</span></h1></td>
	{% if paginatorlist.paginator.count > 2 %}
	<td>
		<ul class="pagination pull-right" style="margin:0px 7px -1px 0px;">
			{% if paginatorlist.has_previous %}
				<li><a href="/foodies/1"><span class="glyphicon glyphicon-fast-backward"></span></a><li>
				<li><a href="/foodies/{{paginatorlist.previous_page_number}}" id="prev"><span class="glyphicon glyphicon-step-backward"></a><li>
			{% else %}
				<li class="disabled"><a href="#"><span class="glyphicon glyphicon-fast-backward"></span></a><li>
				<li class="disabled"><a href="#"><span class="glyphicon glyphicon-step-backward"></span></a><li>
			{% endif %}
			<li class="disabled"><a href="#"> 
				Page {{paginatorlist.number}} of {{paginatorlist.paginator.num_pages}}   </a><li>
			{% if paginatorlist.has_next %}
				<li><a href="/foodies/{{paginatorlist.next_page_number}}" id="next"><span class="glyphicon glyphicon-step-forward"></span></a><li>
				<li><a href="/foodies/{{paginatorlist.paginator.num_pages}}"><span class="glyphicon glyphicon-fast-forward"></span></a><li>
			{% else %}
				<li class="disabled"><a href="#"><span class="glyphicon glyphicon-step-forward"></span></a><li>
				<li class="disabled"><a href="#"><span class="glyphicon glyphicon-fast-forward"></span></a><li>
			{% endif %}
		</ul>
	</td>
	{% endif %}
</tr>
</table>

<div class="list-group" style="margin-bottom:0px;">
{% if paginatorlist.paginator.count > 0 %}
{## FOODIES ##}
  {% for p in paginatorlist.object_list %}
	  <div class="list-group-item row" style="margin-left:0px; margin-right:0px; padding:4px;">
		<div class="col-sm-3 col-xs-12" style="padding-left:2px;">	
		{% if p.photo %}
			<a href="/foodie/{{p.user.username}}">
				<img src="{{p.photofilename}}-med{{p.extension}}" class="img-rounded" width="100%">
			</a>
        {% else %}
			<img src="/media/images/user.png"  class="img-rounded" width="100%"/>
        {% endif %}
		</div>
		<div class="col-sm-9 col-xs-12" style="padding-left:2px;">
			<a href="/foodie/{{p.user.username}}">
				<h2 class="list-group-item-heading" style="display:inline;"><b>{{p.user.username|truncatechars:66}}</b></h2>
			</a>
			<p style="color:#636363;">
			{% if p.names_show = 1 %}
				{{ p.user.first_name }} {{ p.user.last_name }} |
			{% endif %}
			{% if profile.email_show = True %}
				{{ profile.user.email }} |
			{% endif %}
			<i class="fa fa-camera"  title="Number of photos"></i> Photos : {{ p.picture_set.count }} |
			Dishes  : {{ p.dish_set.count }} |
			Lists: {{ p.list_set.count }}
			</p>
			{% if p.about %}
				<p style="margin-bottom:0px;">{{ p.about|urlizetrunc:32|escape|truncatewords:85 }}</p>
			{% endif %}
		</div>
	  </div>
  {% endfor %}
	{% if paginatorlist.paginator.count > 10 %}
		<ul class="pagination pull-right" style="margin-top:0px">
			{% if paginatorlist.has_previous %}
				<li><a href="/foodies/1"><span class="glyphicon glyphicon-fast-backward"></span></a><li>
				<li><a href="/foodies/{{paginatorlist.previous_page_number}}" id="prev"><span class="glyphicon glyphicon-step-backward"></a><li>
			{% else %}
				<li class="disabled"><a href="#"><span class="glyphicon glyphicon-fast-backward"></span></a><li>
				<li class="disabled"><a href="#"><span class="glyphicon glyphicon-step-backward"></span></a><li>
			{% endif %}
			<li class="disabled"><a href="#"> 
				Page {{paginatorlist.number}} of {{paginatorlist.paginator.num_pages}}   </a><li>
			{% if paginatorlist.has_next %}
				<li><a href="/foodies/{{paginatorlist.next_page_number}}" id="next"><span class="glyphicon glyphicon-step-forward"></span></a><li>
				<li><a href="/foodies/{{paginatorlist.paginator.num_pages}}"><span class="glyphicon glyphicon-fast-forward"></span></a><li>
			{% else %}
				<li class="disabled"><a href="#"><span class="glyphicon glyphicon-step-forward"></span></a><li>
				<li class="disabled"><a href="#"><span class="glyphicon glyphicon-fast-forward"></span></a><li>
			{% endif %}
		</ul>
	{% endif %}
{% else %}
	<div class="well">
        <h3>There are no Foodies</h3>
    </div>
{% endif %}
{## END LIST ##}
</div>

{% endblock %}