{% extends '_base.html' %}
{% block title %} Lists {% endblock %}

{% block super-extra-head %}
	{% load static %}
	<script src="{% static 'dist/jquery/jquery-1.12.0.min.js' %}"></script>
	<script type="text/javascript">
		$(window).keydown(function(e) {
			if(e.which === 39) {
				$('#next')[0].click();
			}
			if(e.which === 37) {
				$('#prev')[0].click();
			}
		});
	</script>
{% endblock %}

{% block content %}
{% if alert = '3' %}
	<div class="alert alert-warning alert-dismissible" role="alert">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
	  </button>
	  <strong>Warning!</strong> The list you are trying to access is private. Only the owner has access to it.
	</div>
{% endif %}
<table width="100%" class="nolinetable nopadding">
<tr>
<td>
	<h1 style="display:inline;">Lists</h1>
	<span class="label label-default" style="display:inline;vertical-align:top;">{{ paginatorlist.paginator.count }}</span>
	{% if user.is_authenticated %}
		<a class="btn btn-custom hidden-xs" style="vertical-align:top;margin-top:-5px;" title="Create New List" href="{% url 'view_listnew' %}">Create List</a>
		<a class="btn btn-custom hidden-xs" style="vertical-align:top;margin-top:-5px;" title="Go to my Lists" href="{% url 'view_lists_mine' %}">See my Lists</a>
	{% endif %}
	<a class="btn btn-custom hidden-xs" style="vertical-align:top;margin-top:-5px;" title="Search List" href="{% url 'view_list_search' %}"><span class="glyphicon glyphicon-search"></span> Lists</a>
</td>

{% if paginatorlist.paginator.count > 10 %}
  <td style="vertical-align:bottom;">  
        <ul class="pagination pull-right" style="margin:0px 7px -1px 0px;">
            {% if paginatorlist.has_previous %}
				<li><a href="/lists/1/"><span class="glyphicon glyphicon-fast-backward"></span></a><li>
                <li><a href="/lists/{{paginatorlist.previous_page_number}}" id="prev"><i class="fa fa-step-backward" aria-hidden="true"></i></a><li>
            {% else %}
                <li class="disabled"><a><span class="glyphicon glyphicon-fast-backward"></span></a><li>
				<li class="disabled"><a><i class="fa fa-step-backward" aria-hidden="true"></i></a><li>
            {% endif %}
			<li class="disabled hidden-xs"><a> Page {{paginatorlist.number}} of {{paginatorlist.paginator.num_pages}}  </a><li>
            {% if paginatorlist.has_next %}
                <li><a href="/lists/{{paginatorlist.next_page_number}}" id="next"><i class="fa fa-step-forward" aria-hidden="true"></i></a><li>
				<li><a href="/lists/{{paginatorlist.paginator.num_pages}}"><i class="fa fa-fast-forward" aria-hidden="true"></i></a><li>
            {% else %}
                <li class="disabled"><a><i class="fa fa-step-forward" aria-hidden="true"></i></a><li>
				<li class="disabled"><a><i class="fa fa-fast-forward" aria-hidden="true"></i></a><li>
            {% endif %}
        </ul>
 </td>
{% endif %}

</tr>
</table>

<div class="list-group" style="margin-top:0px;">
	{% if paginatorlist.paginator.count > 0 %}
		{% for p in paginatorlist.object_list %}
		<div class="list-group-item">
			<h2 style="color:#845505;margin-bottom:2px; margin-top:0px;text-align: left;"><a href="/list/{{p.urlname}}"><b>{{p.name|truncatechars:100}}</b></a></h2>
			<p class="smallfont" style="margin-bottom:4px;">by <a href="/foodie/{{p.owner.user.username}}"><b>{{p.owner.user.username|truncatechars:20}}</b></a> ({{p.likestot}} <i class="glyphicon glyphicon-thumbs-up"></i>)
				{% if p.type = '3' %}
					<i style="color:red;">{{ p.get_type_display }}</i>
				{% else %}
					<i>{{ p.get_type_display }}</i>
				{% endif %}
			</p>
			<p style="margin-top:5px;">{{ p.description|urlizetrunc:44|truncatewords:58}}</p>
			{% if p.dishes.all %}

				<div class="row" style="margin:0px;">
				{% for p in p.dishes.all|slice:":6"  %}
					  <div class="col-md-2 col-xs-3 {% if forloop.counter > 4 %} hidden-sm hidden-xs {% endif %}" style="padding:2px;">
						<a class="thumbnail" href="/dish/{{p.urlname}}/" title="Go to dish page: {{p.name}}" style="font-size:14px; margin-bottom:0px;line-height:14px;">
							{% if p.photo_main %}
								<img src="{{p.favphotomed}}" class="img-rounded" width="100%">
							{% else %}
								<img src="{% static 'images/upload-med.jpg' %}" class="img-rounded" width="100%">
							{% endif %}
							<b style="display:inline;" >{{p.name|truncatechars:22}}</b>
							<b class="smallfont" style="margin-bottom:4px; display:inline;">
							{% if p.othernames %}
								<i title="Othernames">{{p.othernames|truncatechars:26}}</i>
							{% endif %}</b></b>
							{% if p.cuisines.all %}
							<p class="smallfont" style="margin-bottom:4px;">
								{% for cuisine in p.cuisines.all|slice:":3" %}
									({{cuisine|truncatechars:26}})
								{% endfor %}
							{% endif %}
							</p>
						</a>
					  </div>
				{% endfor %}
				</div>
			{% else %}
				<div class="row" style="margin:0px;">
					<div class="thumbnail col-md-2 col-xs-3" title="Go to dish page: {{p.name}}" style="margin-bottom:0px;line-height:16px;">
					<img src="{% static 'images/upload-med.jpg' %}" class="img-rounded" width="100%">
					<b style="display:inline;font-size:14px;" >There are no dishes</b>
					</div>
				</div>
			{% endif %}
		  </div>
		{% endfor %}
	{% else %}
		<div class="well well-white" align="center">
			<h2>There are no lists yet</h2>
			<p>Create the first list!</p>
			<a class="btn btn-custom btn-lg" title="Create New List" href="{% url 'view_listnew' %}">Create New List</a>
		</div>
	{% endif %}
		{% if paginatorlist.paginator.count > 10 %}
			<ul class="pagination pull-right" style="margin:0px 7px -1px 0px;">
				{% if paginatorlist.has_previous %}
					<li><a href="/lists/1/"><span class="glyphicon glyphicon-fast-backward"></span></a><li>
					<li><a href="/lists/{{paginatorlist.previous_page_number}}" id="prev"><i class="fa fa-step-backward" aria-hidden="true"></i></a><li>
				{% else %}
					<li class="disabled"><a><span class="glyphicon glyphicon-fast-backward"></span></a><li>
					<li class="disabled"><a><i class="fa fa-step-backward" aria-hidden="true"></i></a><li>
				{% endif %}
				<li class="disabled  hidden-xs"><a> Page {{paginatorlist.number}} of {{paginatorlist.paginator.num_pages}}  </a><li>
				{% if paginatorlist.has_next %}
					<li><a href="/lists/{{paginatorlist.next_page_number}}" id="next"><i class="fa fa-step-forward" aria-hidden="true"></i></a><li>
					<li><a href="/lists/{{paginatorlist.paginator.num_pages}}"><i class="fa fa-fast-forward" aria-hidden="true"></i></a><li>
				{% else %}
					<li class="disabled"><a><i class="fa fa-step-forward" aria-hidden="true"></i></a><li>
					<li class="disabled"><a><i class="fa fa-fast-forward" aria-hidden="true"></i></a><li>
				{% endif %}
			</ul>
		{% endif %}
</div>

{% endblock %}