{% load static %}
<div class="list-group" style="margin-bottom: 5px;">
  <div class="list-group-item" style="background-color:#f5f5f5; padding:5px;">
	<h3 style="vertical-align:middle; display:inline;">Latest dishes</h3>
	<a class="btn btn-custom" href="{% url 'view_disheslatest' %}" title="See all latest dishes uploaded" style="display:inline; padding-top:3px; padding-bottom:3px;">See all</a>
  </div>
	{% if latest_dishes|length > 0 %}
		{% for p in latest_dishes %}
		  <a class="list-group-item" href="/dish/{{p.urlname}}/" title="{{p.name}}" style="padding:4px;">
		  <div class="row">
			{% if p.name|length > 17 %}
				<div class="col-xs-12" style="padding-right:2px;">
					<p class="list-group-item-heading" style="color:#845505;margin-bottom:2px;"><b>{{p.name|truncatechars:52}}</b></p>
				</div>
			<div class="col-xs-7" style="padding-right:2px;">
				<p class="smallfont" style="margin-bottom:2px;">
				{% if p.othernames %}
					<i>{{p.othernames|truncatechars:24}}</i>
				{% endif %}
				{% if p.cuisines.all %}
					<b>
					{% for cuisine in p.cuisines.all|slice:":2" %} 
						({{cuisine|truncatechars:26}})
					{% endfor %}
					</b>
				{% endif %}
				</p>
				<p class="smallfont" style="margin-bottom:4px;">by {{p.userprofile|truncatechars:16}}</p>
				{% if p.description %}
					<p style="font-size:11px;line-height:11px; margin-bottom:2px; margin-top:2px"><i>{{p.description|truncatewords:22}}</i></p>
				{% endif %}
			</div>
			{% else %}
			<div class="col-xs-7" style="padding-right:2px;">
				<p class="list-group-item-heading" style="color:#845505;margin-bottom:2px;"><b>{{p.name}}</b></p>
				<p class="smallfont" style="margin-bottom: 2px;">
				{% if p.othernames %}
					<i>{{p.othernames|truncatechars:24}}</i>
				{% endif %}
				{% if p.cuisines.all %}
					<b>
					{% for cuisine in p.cuisines.all|slice:":2" %} 
						({{cuisine|truncatechars:26}})
					{% endfor %}
					</b>
				{% endif %}
				</p>
				<p class="smallfont" style="margin-bottom:4px;">by {{p.userprofile|truncatechars:16}}</p>
				{% if p.description %}
					<p style="font-size:11px;line-height:11px; margin-bottom:2px; margin-top:2px"><i>{{p.description|truncatewords:16}}</i></p>
				{% endif %}
			</div>
			{% endif %}
			<div class="col-xs-5" style="padding-left:0px; text-align:-webkit-right;">
				{% if not p.photo_main %}
					<img id="photoside_{{ forloop.counter }}" src="{% static 'images/upload-med.jpg' %}" class="img-rounded" height="70px">
				{% else %}
					<img id="photoside_{{ forloop.counter }}" src="{{p.favphotomed}}" style="max-height:100px;" class="img-rounded img-responsive" onerror="imgError3(this);"/>
				{% endif %}
			</div>
		  </div>
		  </a>
		{% endfor %}
	{% else %}
		<div class="well well-tight well-white" style="text-align:center;">
			<p style="margin:10px;">There are no dishes</p>
			<a class="btn btn-custom btn-lg" href="{% url 'view_dishphotonew' %}" style="margin-bottom:4px;">Create new dish</a>
		</div>
	{% endif %}
</div>
<script>
{% static "" as baseUrl %}
var loading_photo_url = "{{ baseUrl }}images/{{LOADING_IMG}}";
function imgError3(image) {
	{% comment %}
	//If a dish photo has just been uploaded. AWS takes a few seconds to generate thumbs because
	//of this we load the page and ask up to 20 times every 1/2 a second for the picture.
	//if the picture doesnt exist then will load the regular no photo icon
	//The imgError functions gets trigger when Django sends a url image but the images doesn't exist.
	{% endcomment %}
	//var loading_photo_url = "{% static 'images/loading512.gif' %}";
	//var loading_photo_url = "{{ baseUrl }}images/{{LOADING_IMG}}";
	//alert('loading_photo_url: '+loading_photo_url);
	console.log('No Dish photo');
	var photo_url = "{{object.location.url}}";
	var photo_check = "{{object.filename}}-thum{{object.extension}}";
	//{{p.filename}}-med{{p.extension}}
	var no_photo_url = "{% static 'images/user.png' %}";
	//Set loading gif while waiting for lambda to generate userphoto
	document.getElementById('photoside_1').src = loading_photo_url;
	main_photo_url = document.getElementById('photoside').src;
	//alert('main_photo_url: '+main_photo_url);
	var i = 1;                     //  set your counter to 1
return true;
};//End imgError function
</script>