{% extends '_base.html' %}
{% block title %}Update Profile{% endblock %}
{% block content %}
<h1>Edit Profile</h1>
<div class="well">
	<form enctype='multipart/form-data' action="." method="POST">
		{% csrf_token %}
		{{ formUser.non_field_errors }}
		<div class="fieldWrapper">
			<label for="id_username">Username*:</label> <i class="smallfont" style="color: #999;"> 30 characters or fewer. Letters, numbers and @/./+/-/_ characters can be used</i>
			{{ formUser.username }} {{ formUser.username.errors }}
		</div>
		<div class="fieldWrapper">
			<label for="id_first_name">First Name:</label>
			{{ formUser.first_name }} {{ formUser.first_name.errors }}
		</div>
		<div class="fieldWrapper">
			<label for="id_last_name">Last Name:</label>
			{{ formUser.last_name }} {{ formUser.last_name.errors }}
		</div>
		<button class="btn btn-custom btn-lg" type="submit"/>Save</button> 
		<a class="btn btn-custom btn-lg" href="{% url 'view_myprofile' %}">Cancel</a>
	</form>	

</div>

{% block focus %}
	<script type="text/javascript">
			document.getElementById('id_username').focus();
	</script>
{% endblock %}
	
{% endblock %}