{% extends '_base.html' %}
{% block title %}Update Email{% endblock %}
{% block content %}
<h1>Update Password</h1>
<div class="well row">
	<p><b>Username: </b> {{ user.username }}</p>
	<div class="col-md-9">
		<form enctype='multipart/form-data' action="." method="POST">
			{% csrf_token %}
			{{ form.non_field_errors }}
			<div class="fieldWrapper">
				<label for="id_password">New password:</label>
				{{ form.password }}
				{{ form.password.errors }}
			</div>
			<div class="fieldWrapper">
				<label for="id_password2">Repeat new password:</label>
				{{ form.password2 }}
				{{ form.password2.errors }}
			</div>
			<button class="btn btn-custom btn-lg">Save</button>
			<a class="btn btn-custom btn-lg" href="{% url 'view_myprofile' %}">Cancel</a>
		</form>
	</div>
</div>

{% block focus %}
	<script type="text/javascript">
		document.getElementById('id_password').focus();
	</script>
{% endblock %}
	
{% endblock %}