/* My Custome Stylesheet */

/* First, pell un Bootstrap;s stylesheet */
/*@import url(../dist/bootstrap/css/bootstrap.css);*/
/*@import url(../bootstrap/css/bootstrap-responsive-mine.css);*/

/* My custome bootstrap style */

body{
	margin:0px; 
	font-size:16px;
	line-height: 18px;
	background-color:#FFFFE8;
}
h1 { font-size:24px;
	line-height: 20px;
	font-weight: bold;
	color:#993300;
	text-align:center;
	margin-top:8px;
	margin-bottom: 0px;
	/*margin: 2px 0px 0px 0px;*/
	}
h2 { 
	font-size:20px;
	line-height: 20px;
	text-align:center;
	color:#C1C100;
	margin-top:6px;
	margin-bottom: 0px;
	}
h3 { font-size:18px; line-height: 20px; }
/*p {margin:0px;}*/
a { color:#FF6600;  }
a:hover { 	color:#900; }

.form-control {
	font-size:18px; 
	line-height: 20px;
	/*height: 40px;*/
	/*padding-top:0px;*/
	}
.upload {
	height: 40px;*/
	}

.paddingPagMob td, th {
padding:2px 1px 2px 1px;
}

.navbar-brand{padding:2px;}

.well-1{	margin:10px;}

.well-white{
	background-color:white;
}

#bootstrap-overrides .table-tight th{
padding:1px;
/*vertical-align: top;*/
}

#bootstrap-overrides .table-tight td {
padding:1px;
/*vertical-align: top;*/
}

#bootstrap-overrides .btn-pad-small  a {
padding:4px 12px 4px 12px;
/*vertical-align: top;*/
}

#bootstrap-overrides .btn-pad-small  button {
padding:2px 8px 2px 8px;
/*vertical-align: top;*/
}

.color-lightgray{
	background-color:#F8F8F8;
}

.fieldWrapper > input,select,textarea {width: 100%;}

input[type="checkbox"] { margin-top:-8px;}
/*input { float:right;}*/

.breadcrumb{font-size:18px;}

label  { font-size:18px; line-height: 20px; margin-top:8px; margin-bottom:2px;}

.table-title{
	margin: 0px;
	/*background-color : #E6E600;*/
}

.footer-rest {
	margin-top:-20px;
	margin-bottom:0px;
	font-size:12px;
	color:#999;
}
/*Check this!*/
.text-med {
	margin-top:-20px;
	margin-bottom:0px;
	font-size:15px;
	line-height:17px;
}

/*userphotos.html*/
.text-reg {
	margin-top:0px;
	margin-bottom:0px;
	font-size:13px;
	line-height:13px;
}

.text-small {
	margin-top:0px;
	margin-bottom:0px;
	font-size:12px;
	line-height:12px;
}
.btn-marg {
	margin-left:8px;
	/*margin-right:28px;*/
	width:96%;}
.btn-lg {
padding: 8px 3px 8px 3px;}

.table th, .table td { vertical-align:middle; padding: 2px;}

.btn-small{
	margin-top:0px;
	margin-left:0px;
	padding:3px 8px 3px 8px;
	}

/*
input{
height:40px;
font-size:22px;
}
*/
.input-rest{
/*	font-size:30px;*/
/*	height:40px;*/
font-size:22px;
}

.main-form{
	/*margin-left:-10px;
	margin-right:0px;*/
	padding-bottom:0px;
	padding-top:0px;
	margin-top:0px;
	margin-bottom:0px;
	/*width:98%;*/
	/*height:20%;*/
	}

.main-well{
	/*margin-left:-10px;
	margin-right:0px;*/
	padding-bottom:10px;
	padding-top:10px;
	margin-top:5px;
	margin-bottom:5px;
	/*width:98%;*/
	/*height:20%;*/
	}

.btn-custom {
	/*margin-left:8px;*/
	/*margin-right:28px;*/
	/*width:96%;*/
  background-color: hsl(54, 80%, 31%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e9d739", endColorstr="#8e810f");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#e9d739), to(#8e810f));
  background-image: -moz-linear-gradient(top, #e9d739, #8e810f);
  background-image: -ms-linear-gradient(top, #e9d739, #8e810f);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e9d739), color-stop(100%, #8e810f));
  background-image: -webkit-linear-gradient(top, #e9d739, #8e810f);
  background-image: -o-linear-gradient(top, #e9d739, #8e810f);
  background-image: linear-gradient(#e9d739, #8e810f);
  border-color: #8e810f #8e810f hsl(54, 80%, 24.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.42);
  -webkit-font-smoothing: antialiased;
}

/*
.main{
	font-size:20px;
}*/
/*
p.main{margin-top: 30px;
}
*/

.handfont{
	font-family: 'Gochi Hand', cursive;
	line-height:110%;
}
.comment { margin-top:-10px; color:#999999;}

.page-header{
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right:0px;
	margin: 0px;
	background-color:#FFF;
}

/* My custome bootstrap style */
.well-green{
	background-color:#3C9;
}

/* My own stiling */

.logo{
	padding-left: 20px;
}

/* My custome bootstrap style */
.well-mobile-tight{
	background-color:#FFFFE8;
	/*margin-left:-10px;
	margin-right:0px;*/
	padding:5px;
	/*padding-bottom:10px;
	padding-top:10px;*/
	margin:5px;
	/*margin-top:5px;
	margin-bottom:5px;*/
	/*width:98%;*/
	/*height:20%;*/
}

.well-list{
	border-radius: 4px;
	border: 1px solid #e3e3e3;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	background-color: #FFFFFF;
	margin-left:-10px;
	margin-right:-30px;
}

.well-mobile{
	/*background-color:#FFFFE8;*/
	margin-left:10px;
	margin-right:10px;
	padding-bottom:0px;
	padding-top:0px;
	margin-top:0px;
	margin-bottom:5px;
	/*margin-top:5px;
	margin-bottom:5px;*/
	/*width:98%;*/
	/*height:20%;*/
}

.well-tight{
	padding:5px;
	margin:0px 0px 0px 0px;
}


/*Start-Dropdown menu style*/
#bootstrap-overrides 
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
color: #000;  /*Sets the text hover color on navbar*/
}

#bootstrap-overrides 
 .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active >   
 a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	color: white; /*BACKGROUND color for active*/
	background-color: #000000;
}

/*hover main manu*/
#bootstrap-overrides 
 .nav > li > a:hover,
 .nav > li > a:focus {
	text-decoration: none;
	background-color: #C1C100; /*Change rollover cell color here*/
	font-weight: bold;
	font-size: 18px;
	color: #000;
  }

/*inactive main menu*/
#bootstrap-overrides 
 .navbar-inverse .navbar-nav > li > a {
	color: #C1C100; /*Change active text color here*/
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
    }

/*inactive drop downs*/
#bootstrap-overrides 
  .dropdown-menu > li > a {
	color: #FF6600; /*Change active text color here*/
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	background-color: #333333;
    }
	
/*hover drops downs*/
#bootstrap-overrides 
  .dropdown-menu > li > a:hover,
   .dropdown-menu > li > a:focus {
	color: #000000;
	text-decoration: none;
	font-weight: bold;
	background-color:#FF6600;  /*change color of links in drop down here*/
	font-size: 16px;
   }

/*when dowmdows are in big screen*/	
#bootstrap-overrides 
 .dropdown-menu {
	background-color: #333333;
	/*border-color: #333333;*/
}
/*End-Dropdown menu style*/