{% extends '_base.html' %}
{% block title %}WorldFood.Guide - Error 404{% endblock %}
{% block content %}

<h1 align="center" class="center">Page not found</h1>

<div class="well well-mobile well-white" style="text-align:center;">	

	<a href="http://worldfood.guide/"><img style="margin-bottom:15px;" src="http://worldfood.guide/media/images/broken_plate-small.jpg"></a>

	<h3>Let us know what happend</h3>
	<p>(Error 400) in:<br/>
	<b style="color:red;">http://worldfood.guide{{patherror}}</b>
	</p>
	<p><a href="http://worldfood.guide/contact/" >Contact us</a></p>
	<p>Click <a href="http://worldfood.guide/" rel="nofollow">here</a> to go to the main page</p>

</div>

{% endblock %}