{% extends '_base.html' %}
{% block title %}WorldFood.Guide - Error 403{% endblock %}
{% load static %}

{% block content %}

<h1 align="center" class="center">Forbidden Access</h1>

<div class="well well-mobile well-white" style="text-align:center;">
	<a id="a_url" href=""><img style="margin-bottom:15px;" src="{% static 'images/broken_plate-small.jpg' %}"></a>
	<h3>You don't have the credentials to access the URL:</h3>
	<h3 id="url" style="color:red;"></h3>
	<p>Click <a id="a_main" href="" rel="nofollow">here</a> to go to the main page</p>
</div>

{% endblock %}