{% extends '_base.html' %}
{% block title %}WorldFood.Guide - Error 500{% endblock %}
{% load static %}

{% block content %}

<h1 align="center" class="center">URL Broken</h1>

<div class="well well-mobile well-white" style="text-align:center;">
	<h3>The URL you are trying to access:<br/>
	<b id="url" style="color:red;"></b><br/>
	doesn't exist or is broken</h3>
	<a id="a_url" href=""><img style="margin-bottom:15px;" src="{% static 'images/broken_plate-small.jpg' %}"></a>
	<p>Click <a id="a_main" href="" rel="nofollow">here</a> to go to the main page</p>
	<p class="navbar-text text-small">(Error 500)</p>
</div>

{% endblock %}