{% extends '_base.html' %}
{% load static %}
{% block super-extra-head %}
<meta name="description" content="Foods from all cuisines around the world, including photos, descriptions and ingredients. Users can create, upload and edit information about new dishes, cuisines and photos">
{% endblock %}
{% block title %}WorldFood.Guide{% endblock %}
{% block content %}


<!-- Carousel Start-->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="7000">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
 
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
		<a href="{% url 'view_listnew' %}">
			<img src="{% static 'images/carousel/list_mobile.jpg' %}" alt="Create Lists">
		</a>
    </div>
    <div class="item">
		<a href="{% url 'view_profile' username='itisclaudio'  %}">
			<img src="{% static 'images/carousel/foofie_mobil.jpg' %}" alt="Featured Foodie">
			
		</a>
    </div>
    <div class="item">
		<img src="{% static 'images/carousel/contribute_mobil.jpg' %}" alt="Contribute">
    </div>
  </div>
 
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- Carousel END -->

{# BUTONS - START #}

<div class="well-mobile" style="padding:0px; margin-top:5px;">
<table width="100%" class="nolinetable">
{% if user.is_authenticated %}
	<tr><td width="50%" style="padding-bottom:10px;" colspan="2" >
	<a class="btn btn-custom btn-lg btn-block" href="/userphotos/{{user.username}}/1/">My Photos</a>
	</td>
	<td width="50%" style="padding-left:10px; padding-bottom:10px;" colspan="2">
	<a class="btn btn-custom btn-lg btn-block" href="{% url 'view_myprofile' %}">My Account</a>
	</td></tr>
	<tr><td width="50%" colspan="2">
	<a class="btn btn-custom btn-lg btn-block" href="{% url 'view_dishphotonew' %}">New Dish/Photo</a>
	</td>
	<td width="50%" style="padding-left:10px;" colspan="2">
	<a class="btn btn-custom btn-lg btn-block" href="/searchadvance/">Search <li class="fa fa-search icon-white"></li></a>
	</td></tr>
	</tr>
{% else %}
	<tr><td width="50%" colspan="2" >
	<a class="btn btn-custom btn-lg btn-block" href="{% url 'view_signin' %}">Sign in</a>
	</td>
	<td width="50%" style="padding-left:10px;" colspan="2">
	<a class="btn btn-custom btn-lg btn-block" href="{% url 'view_signup' %}">Sign up</a>
	</td></tr>
{% endif %}
</table>
</div>

{# BUTONS - END #}

<div class="well-mobile">

{# LATEST_DISHES - START #}
<div class="list-group" style="margin-top: 10px;">
	<div class="list-group-item" style="background-color:#dddddd; padding-bottom:6px; padding-top:6px;">
		<h2 style="margin-top:5px;margin-bottom:2px;">Latest dishes
			<a class="btn btn-lg btn-custom" href="{% url 'view_disheslatest' %}" style="display:inline; padding-top:4px; padding-bottom:4px; margin-right:4px; margin-left:2px; padding-left: 12px;">see all</a>
			<a class="btn btn-custom" href="{% url 'view_dishphotonew' %}" style="display:inline; padding-top:4px; padding-bottom:4px;">
				<i class="fa fa-plus"></i>
			</a>
		</h2>
	</div> 
  {% for p in dishes_latest|slice:":5" %}
	  <a class="list-group-item row" href="/dish/{{p.urlname}}/" style="margin-left:0px; margin-right:0px; padding:4px;">
	  {% if p.name|length > 20 %}
		<div class="col-xs-12" style="padding-left:2px;">
			<h3 class="list-group-item-heading" style="color:#845505;margin-bottom:2px;"><b>{{p.name|truncatechars:56}}</b></h3>
		</div>
		<div class="col-xs-7" style="padding-left:2px;">
			<p class="small" style="margin-bottom:2px;"><b><i>
			{% if p.othernames %}
				{{p.othernames|truncatechars:20 }}
			{% endif %}
			{% if p.cuisines.all %}
				{% for cuisine in p.cuisines.all|slice:":3"  %}
					({{cuisine|truncatechars:20}})
				{% endfor %}
			{% endif %}
			</i></b></p>
			{% if p.description %}
				<p class="small">{{p.description|truncatewords:26}}</p>
			{% endif %}
			<p class="small clear" style="margin-bottom:2px;text-align:right;margin-top:4px;"><i>{{p.datetime|date:"N j, Y" }} - by: <b>{{p.userprofile|truncatechars:20}}</b></i></p>
		</div>
	  {% else %}
		<div class="col-xs-7" style="padding-left:2px;">
			<h3 class="list-group-item-heading" style="color:#845505;margin-bottom:2px;"><b>{{p.name}}</b></h3>
			<p class="small" style="margin-bottom: 2px;"><b><i>
			{% if p.othernames %}
				{{p.othernames|truncatechars:20 }}
			{% endif %}
			{% if p.cuisines.all %}
				{% for cuisine in p.cuisines.all|slice:":3"  %}
					({{cuisine|truncatechars:20}})
				{% endfor %}
			{% endif %}
			</i></b></p>
			{% if p.description %}
				<p class="small">{{p.description|truncatewords:26}}</p>
			{% endif %}
			<p class="small clear" style="margin-bottom:2px;text-align:right;margin-top:4px;"><i>{{p.datetime|date:"N j, Y" }} - by: <b>{{p.userprofile|truncatechars:20}}</b></i></p>
		</div>
	   {% endif %}
		<div class="col-xs-5" style="padding-left:0px; padding-right:0px;">
			{% if p.photo_main %}
				<img src="{{p.favphotomed}}" style="max-height:130px; max-width:130px;" class="img-rounded img-responsive pull-right"/>
			{% else %}
				<img src="{% static 'images/upload-med.jpg' %}" class="img-rounded  pull-right" width="130px">
			{% endif %}
		</div>
	  </a>
  {% endfor %}
</div>
{## LATEST_DISHES - END ##}

{## TOP_LITS - START ##}
<div class="list-group" style="margin-top: 10px;">
  <div class="list-group-item" style="background-color:#dddddd; padding-bottom:6px; padding-top:6px;">
		<h2 style="margin-top:5px;margin-bottom:2px;">Lists
			<a class="btn btn-lg btn-custom" href="{% url 'view_lists' %}" style="display:inline; padding-top:4px; padding-bottom:4px; margin-right:4px; margin-left:2px; padding-left: 12px;">see all</a>
			<a class="btn btn-custom" href="{% url 'view_listnew' %}" style="display:inline; padding-top:4px; padding-bottom:4px;">
				<i class="fa fa-plus"></i>
			</a>
		</h2>
	</div> 
	{% for p in top_lists|slice:":3" %}
	<a href="/list/{{p.urlname}}/" class="list-group-item" style="padding:4px;">
		<div class="row">
			<div class="col-xs-12">
				<p style="color:#845505;margin-bottom:0px;"><b>{{p.name|truncatechars:76 }}</b></p>
				<p class="small clear" style="margin-bottom:0px;">by {{p.owner.user.username}} ({{p.likestot}} <i class="fa fa-thumbs-up" aria-hidden="true"></i>)
					{% if p.type = '3' %}<i style="color:red;">Private List</i>{% endif %}
					{% if p.type = '1' %} Personal List {% endif %}
					{% if p.type = '2' %} Public List{% endif %}
				</p>
				{% if p.description %}
					<p style="margin-top:3px; margin-bottom:0px; line-height:15px; font-size:14px;">{{p.description|truncatewords:20}}</p>
				{% endif %}
					{% for p in p.dishes.all|slice:":3"  %}
					<div class="col-xs-4" style="padding:1px;">
					<div class="thumbnail" title="Go to dish page: {{p.name}}" style="padding:1px; font-size:10px; margin-bottom:0px;line-height:10px;">
						{% if p.photo_main %}
							<img src="{{p.favphotomed}}" class="img-rounded" width="100%" style="margin-bottom:4px;">
						{% else %}
							<img src="{% static 'images/upload-med.jpg' %}" class="img-rounded" width="100%" style="margin-bottom:4px;">
						{% endif %}
						<p class="small" style="display:inline;line-height:10px;">
						<b>{{p.name|truncatechars:22}}</b>
						{% if p.cuisines.all %}
							{% for cuisine in p.cuisines.all|slice:":2" %}
								({{cuisine|truncatechars:20}})
							{% endfor %}
						{% endif %}
						</p>
					</div>
					</div>
					{% endfor %}
			</div>
		</div> 
	</a>
	{% endfor %}
</div>
{# TOP_LITS - END #}

{# CUISINES - START #}
<div class="list-group" style="margin-top: 10px;">
  <div class="list-group-item" style="background-color:#dddddd; padding-bottom:6px; padding-top:6px;">
	<h2 style="margin-top:5px;margin-bottom:2px;"><b>Cuisines: </b>
	<a class="btn btn-lg btn-custom" href="{% url 'view_cuisines' %}" style="display:inline; padding-top:4px; padding-bottom:4px; margin-right:4px; margin-left:2px; padding-left: 12px; color: #555;">
			see all
	</a>
	<a class="btn btn-custom" href="{% url 'view_cuisinenew' %}" style="display:inline;padding-top:4px; padding-bottom:4px;">
		<i class="fa fa-plus"></i>
	</a>
	</h2>
  </div>
	{% if cuisine_top|length > 0 %}
		{% for p in cuisine_top %}
			<a href="/cuisine/{{p.urlname}}/" class="list-group-item" style="padding:4px;">
			<div class="row">
			{% if p.name|length > 15 %}
				<div class="col-xs-12">
					<h3 style="margin-bottom:2px; margin-top:0px;">{{p.name|truncatechars:52}} cuisine</h3>
				</div>
				<div class="col-xs-7">
					{% if p.othernames %}
						<p style="font-size:14px; margin-bottom:0px"><b>{{p.othernames|truncatechars:34}}</b></p>
					{% endif %}
					{% if p.territory %}
						<p style="font-size:14px; margin-bottom:0px"><i>{{p.territory|truncatechars:34}}</i></p>
					{% endif %}
					<p style="font-size:14px; margin-bottom:0px">Pictures: <b>{{ p.dish__picture__count }}</b></p>
					<p style="font-size:14px; margin-bottom:0px">Dishes: <b>{{ p.dish__count }}</b></p>
				</div>
				<div class="col-xs-5" style="text-align:right;">
					{% if p.favphoto %}
						<img src="{{p.favphoto.filename}}-med{{p.favphoto.extension}}" style="max-height:130px; max-width:130px;" class="img-rounded img-responsive pull-right"/>
					{% else %}
						<img src="{% static 'images/upload-med.jpg' %}" class="img-rounded" height="70px">
					{% endif %}
				</div>
			{% else %}
				<div class="col-xs-7">
					<h3 style="margin-bottom:2px; margin-top:0px;">{{p.name|truncatechars:52}} cuisine</h3>
					{% if p.othernames %}
						<p style="font-size:14px; line-height:15px; margin-bottom:0px"><b>{{p.othernames|truncatechars:34}}</b></p>
					{% endif %}
					{% if p.territory %}
						<p style="font-size:14px; line-height:15px; margin-bottom:0px"><i>{{p.territory|truncatechars:34}}</i></p>
					{% endif %}
					<p style="font-size:14px; line-height:15px; margin-bottom:0px">Pictures: <b>{{ p.dish__picture__count }}</b></p>
					<p style="font-size:14px; line-height:15px; margin-bottom:0px">Dishes: <b>{{ p.dish__count }}</b></p>
				</div>
				<div class="col-xs-5" style="text-align:right;">
					{% if p.favphoto %}
						<img src="{{p.favphoto.filename}}-med{{p.favphoto.extension}}" style="max-height:130px; max-width:130px;" class="img-rounded img-responsive pull-right"/>
					{% else %}
						<img src="{% static 'images/upload-med.jpg' %}" class="img-rounded" height="70px">
					{% endif %}
				</div>
			{% endif %}
			
		</div></a>
		{% endfor %}
	{% endif %}
</div>
</div>
{# CUISINES - END #}
{% endblock %}

