{% extends '_base.html' %}
{% block title %}About{% endblock %}
{% block content %}
<h1>General Guidelines</h1>
<div class="well-mobile">

<p>WorldFood.Guide allows users to contribute different kinds of content, including reviews, photos, videos, events, votes, tips, private messages, and more. Playing nice isn&rsquo;t rocket science, but just in case, we&rsquo;ve put together these general guidelines. Please also read the guidelines below for specific types of content that you might contribute to the site.</p>
<ul>
<li>
  <p><strong>Inappropriate content:</strong> Colorful language and imagery is fine, but there's no need for threats, harassment, lewdness, hate speech, and other displays of bigotry.</p>
</li>
<li>
  <p><strong>Conflicts of interest:</strong> Your contributions should be unbiased and objective. For example, you shouldn&rsquo;t write content of your own business or employer, your friends&rsquo; or relatives&rsquo; business, your peers or competitors in your industry, or businesses in your networking group. Business owners should not ask customers to write reviews.</p>
</li>
<li>
  <p><strong>Relevance:</strong> Please make sure your contributions are relevant and appropriate to the website. For example, comment aren't the place for rants about a business's employment practices, political ideologies, extraordinary circumstances, or other matters that don't address the core of the consumer experience.</p>
</li>
<li>
  <p><strong>Privacy:</strong> Don&rsquo;t publicize other people&rsquo;s private information. Please don&rsquo;t post close-up photos or videos of other patrons without their permission, and please don&rsquo;t post other people&rsquo;s full names unless you&rsquo;re referring to service providers who are commonly identified by or commonly share their own full names.</p></li>
<LI><p><strong>Intellectual property:</strong> Don&rsquo;t post content from other sites or users. </p>
</li>

</ul>
  
</div>
{% endblock %}