{% extends '_base.html' %}
{% block title %} Password Recovery {% endblock %}
{% block content %}
<h1>Password Recovery</h1>
<div class="well-mobile">
	<form action="." method="POST">
	{% if mensa = 2 %}
		<div class="alert alert-danger alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
			<p>There is no Foodie with the email: <b>{{email}}</b></p>
			<p>Please user another email or <a class="btn btn-custom btn-lg" href="{% url 'view_signup' %}">sign up</a></p>
		</div>
	{% endif %}
		{% csrf_token %}
        {{ form.non_field_errors }}
	    <div class="fieldWrapper">
    	    <label for="id_email">Email:</label>
    	    {{ form.email }}
			{{ form.email.errors }}
    	</div>
		<p>Your password and username will be sent to the email entered above.</p>
		{{ mensaje }}
		<br>
		<button class="btn btn-custom btn-lg btn-block">Send</button>
		<a class="btn btn-custom btn-lg btn-block" href="{% url 'view_main' %}">Cancel</a>
	</form>
	
</div>
{% block focus %}
	<script type="text/javascript">
		document.getElementById('id_email').focus();
	</script>
{% endblock %}

{% endblock %}