<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">
<head>
	<title>WorldFood.Guide</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	{% load static %}
	<script src="{% static 'dist/jquery/jquery-1.12.0.min.js' %}"></script>
	<link href="{% static 'dist/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" >
	<link href="{% static 'css/mobile.css' %}" rel="stylesheet" >
	<link href="{% static 'dist/jcrop/css/jquery.Jcrop.css' %}" rel="stylesheet"/>
	<link rel="icon" href="{% static 'images/main_icon_32.png' %}" sizes="32x32">
	<link href="{% static 'images/icons/favicon-16x16.png' %}" rel="icon" type="image/x-icon">
</head>
<body style="background-color:#FFFFE8;">
	<div class="well-1">
		<h1 align="center">Crop Photo</h1>
		
		<!--Modal 0 -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<h1 class="modal-title" id="myModalLabel">Processing...</h1>
			  </div>
			  <div class="modal-body">
				<div class="progress">
					  <div class="progress-bar progress-bar-striped progress-bar-warning active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
					  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
		
		<p> Click on the photo, crop and press "Crop and Save"</p>
	</div>
	<div id="holder" align="center" >
		<img id="photo" src="{{photo.filename}}-med{{photo.extension}}?cachebuster={%now 'H:i:s'%}" alt="{{ photo.food }}"/>
	</div>
<br/>
<div class="well-1">
	<form action="." method="POST">
	{% csrf_token %}
		<!--<div style="display:none">-->
		<div style="display:inline-block">
			{{ form }}
		<p>width: <input id="width" type="text" name="width"></p>
		<p>height: <input id="height" type="text" name="height"></p>
		</div>
	<button id="crop" class="btn btn-custom btn-lg btn-block" type="submit"/>Crop and Save</button>
	<a class="btn btn-custom btn-lg btn-block" href="/photo/{{photo.urlname}}">Cancel</a>
	</form>
	<form>
	  img x:<input id="x" type="text"><br>
	  img y:<input id="y" type="text"><br>
	  img w:<input id="w" type="text"><br>
	  img h:<input id="h" type="text">
	</form>
</div>
<a id="show_modal" class="btn btn-custom btn-lg btn-block" >Modal</a>
<script src="{% static 'dist/jcrop/js/jquery.Jcrop.js' %}"></script>

<script type="text/javascript">

$("#show_modal").click(function(){
	$("#myModal").modal('show');
});

$("#crop").click(function(){
	var image_width = $('#photo')[0].naturalWidth;
	var image_height = $('#photo')[0].naturalHeight;
	var crop_width = $("#w").val();
	var crop_height = $("#h").val();
	var crop_x = $("#x").val();
	var crop_y = $("#y").val();
	var width_per = crop_width*100/image_width;
	var height_per = crop_height*100/image_height;
	var x_per = crop_x*100/image_width;
	var y_per = crop_y*100/image_height;
	$("#id_w").val(width_per);
	$("#id_h").val(height_per);
	$("#id_x").val(x_per);
	$("#id_y").val(y_per);
	$("#myModal").modal('show');
});

function updateCoords(c)
	{
		$("#x").val(Math.round(c.x));
		$("#y").val(Math.round(c.y));
		$("#w").val(Math.round(c.w));
		$("#h").val(Math.round(c.h));
	}

$(document).ready(function(){
	var img = document.getElementById('photo');
	var w1 = document.getElementById("photo").width; 
	var h1 = document.getElementById("photo").height;
	$('#width').val(w1);
	$('#height').val(h1);
	//Jcrop -Start-
	$("#photo").Jcrop({
		onSelect: updateCoords,
		onchange: updateCoords,
		minSize: [200,200]
	});
	//Jcrop -End-

});
</script>
</body>
</html>