{% extends '_base.html' %}
{% block title %}Upload Photo{% endblock %}

{% block super-extra-head %}
	{% load static %}
	<script src="{% static 'dist/jquery/jquery-1.12.0.min.js' %}"></script>
{% endblock %}

{% block content %}
<!--Modal 0 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="myModalLabel">Processing...</h1>
      </div>
      <div class="modal-body">
		<div class="progress">
			  <div class="progress-bar progress-bar-striped progress-bar-warning active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
			  </div>
		</div>
      </div>
    </div>
  </div>
</div>
<!--Modal 1 -->

<table width="96%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr>
<td colspan="3">
<h1><a href="/dish/{{dish.urlname}}">{{ dish.name }}</a> New Photo</h1>

	{% if information = 3 %}
	<div class="alert alert-danger">
		<button type="button" class="close" data-dismiss="alert">&times;</button>Missing or Incorrect Data. See details
	</div>
	{% endif %}
	
	<form enctype='multipart/form-data' action="." method="POST" id="myform">
		{% csrf_token %}
		{{ form.non_field_errors }}
		<hr style="margin-top:10px;margin-bottom:10px;"/>
		<div class="fieldWrapper">
    	    <label for="id_location">Photo:</label>
    	    {{ form.location }} {{ form.location.errors }}
    	</div>
		<hr style="margin-top:10px;margin-bottom:10px;"/>
		<div class="well well-white" style="margin-bottom:0px;">
			<div class="col-xs-8" style="padding-left:0px;">
				<p style="margin-top:-8px;"><b>I am the owner:</b></p>
			</div>
			<div class="col-xs-4">
				{{ form.ownit }}
			</div>
		</div>
		{% if ownit %}
			<div class="fieldWrapper" id="creditsname" style="display:none;">
				<label for="id_creditsname">Photo credits to:</label>
				{{ form.creditsname }} {{ form.creditsname.errors }}
			</div>
			<div class="fieldWrapper" id="creditsurl" style="display:none;">
				<label for="id_creditsurl">URL Location:</label>
				{{ form.creditsurl }} {{ form.creditsurl.errors }}
			</div>
		{% else %}
			<div class="fieldWrapper" id="creditsname">
				<label for="id_creditsname">Photo credits to:</label>
				{{ form.creditsname }} {{ form.creditsname.errors }}
			</div>
			<div class="fieldWrapper" id="creditsurl">
				<label for="id_creditsurl">URL Location:</label>
				{{ form.creditsurl }} {{ form.creditsurl.errors }}
			</div>
		{% endif %}
	    <div class="fieldWrapper">
    	    <label for="id_comments">Photo extra info :</label>
    	    {{ form.comments }} {{ form.comments.errors }}
    	</div>
</td>
</tr>
<tr>
	<td width="48%" style="padding-top:20px;">
	<button class="btn btn-custom btn-lg btn-block" type="submit"  onclick="loading();"/>Save</button>
	</td>
	<td width="4%">
	</td>
	<td width="48%" style="padding-top:20px;">
	<a class="btn btn-custom btn-lg btn-block" href="javascript:window.history.go(-1);">Cancel</a>
	</form></td>
	</tr>
</table>

</div>
{% endblock %}

{% block extra-bottom %}
<script src="{% static 'dist/jquery/validate/jquery.validate.min.js' %}"></script>
<script type="text/javascript">
document.getElementById('id_location').focus();
//function to show the modal "Processing" when loading results page
function loading(){
	//var urlErrorExists = document.getElementById("id_creditsurl-error");
	if ($('#id_creditsurl-error').length > 0) {
		//Error element exists
		if($('#id_creditsurl-error').css('display') == 'none'){
			//Error not visible, load modal because form is been sent
			$('#id_cuisines').prop('disabled', false);//enables cuisines so POST can send info
			$("#myModal").modal('show');
		};
	}
	else{
		//There is no error element, load modal
		$('#id_cuisines').prop('disabled', false);//enables cuisines so POST can send info
		$("#myModal").modal('show');
	};
}
$('#myform').validate();
$(document).ready(function (){
	$("#id_ownit").click(function() {
		console.log(this.checked);
        if(this.checked == true) {
			//alert("Checked");
			$('#id_creditsname').val("");
			$('#id_creditsurl').val("");
			$('#creditsname').hide();
			$('#creditsurl').hide();
		}else{
			$('#creditsname').show();
			$('#creditsurl').show();
        }
	});
})
</script>
{% endblock %}