{% extends '_base.html' %}
{% block title %}Terms of Service{% endblock %}
{% block content %}
<h1>Snake</h1>
<div class="well-mobile">
 
 <ol>
    <li><a href="#1">DEFINITIONS</a></li>
    <li><a href="#2">CHANGES TO THE TERMS OF SERVICE</a></li>
    <li><a href="#3">USING THE SITE</a></li>
    <li><a href="#4">CONTENT</a></li>
    <li><a href="#5">RESTRICTIONS</a></li>
    <li><a href="#6">GUIDELINES AND POLICIES</a></li>
    <li><a href="#7">SUGGESTIONS AND IMPROVEMENTS</a></li>
    <li><a href="#8">THIRD PARTIES</a></li>
    <li><a href="#9">INDEMNITY</a></li>
    <li><a href="#10">DISCLAIMERS AND LIMITATIONS OF LIABILITY</a></li>
    <li><a href="#11">CHOICE OF LAW AND VENUE</a></li>
    <li><a href="#12">TERMINATION</a></li>
    <li><a href="#13">GENERAL TERMS</a></li>
  </ol>

 
</div>
{% endblock %}