{% extends '_base.html' %}
{% block title %}Create WFG Password{% endblock %}
{% block content %}
<h1>Create WFG Password</h1>

<div class="well-mobile">
	<form enctype='multipart/form-data' action="." method="POST">
		{% csrf_token %}
		{{ form.non_field_errors }}
		<div class="fieldWrapper">
			<label for="id_password">New password:</label>
			{{ form.password }}
			{{ form.password.errors }}
		</div>
		<div class="fieldWrapper">
			<label for="id_password2">Repeat new password:</label>
			{{ form.password2 }}
			{{ form.password2.errors }}
		</div>
		<br>
		<button class="btn btn-custom btn-block btn-lg">Save</button>
		<a class="btn btn-custom btn-block btn-lg" href="{% url 'view_myprofile' %}">Cancel</a>
	</form>
</div>

{% block focus %}
	<script type="text/javascript">
		document.getElementById('id_password').focus();
	</script>
{% endblock %}
	
{% endblock %}