{% extends '_base.html' %}
{% load static %}
{% block title %} {{profile.username}}'s Pictures {% endblock %}
{% block content %}

{% if list.paginator.count > 0 %}
<div class="row" style="margin:2px;">
	<div class="col-xs-3" style="padding:1px;">
		{% if list.has_previous %}
			<a class="btn btn-custom btn-block"  href="/userphotos/{{profile.username}}/1/">
		{% else %}
			<a class="btn btn-custom btn-block disabled">
		{% endif %}
		<i class="fa fa-fast-backward" aria-hidden="true"></i></a>
	</div>
	<div class="col-xs-3" style="padding:1px;">
		{% if list.has_previous %}
			<a class="btn btn-custom btn-block" href="/userphotos/{{profile.username}}/{{list.previous_page_number}}">
		{% else %}
			<a class="btn btn-custom btn-block disabled">
		{% endif %}
		<i class="fa fa-step-backward" aria-hidden="true"></i></a>
	</div>
	<div class="col-xs-3" style="padding:1px;">
		{% if list.has_next %}
			<a class="btn btn-custom btn-block" href="/userphotos/{{profile.username}}/{{list.next_page_number}}">
		{% else %}
			<a class="btn btn-custom btn-block disabled">
		{% endif %}
		<i class="fa fa-step-forward" aria-hidden="true"></i></a>
	</div>
	<div class="col-xs-3" style="padding:1px;">
		{% if list.has_next %}
			<a class="btn btn-custom btn-block" href="/userphotos/{{profile.username}}/{{list.paginator.num_pages}}">
		{% else %}
			<a class="btn btn-custom btn-block disabled">
		{% endif %}
		<i class="fa fa-fast-forward" aria-hidden="true"></i></a>
	</div>
</div>

{## PHOTOS ##}
<div class="list-group" style="margin-bottom:0px;">
  <div class="list-group-item" style="background-color:#dddddd; padding-bottom:6px; padding-top:6px;">
	<p style="margin-top:5px;margin-bottom:2px; text-align:center;">
		<span class="label label-default" style="vertical-align:top;display:inline;">
			{{list.paginator.count}}</span>
			Photos. Page:
		<span class="label label-default" style="vertical-align:top;display:inline;">{{list.number}}</span>
		of
		<span class="label label-default" style="vertical-align:top;display:inline;">{{list.paginator.num_pages}}</span>
	</p>
  </div>
  {% for p in list.object_list %}
	  <a class="list-group-item row" href="/photo/{{p.urlname}}" style="margin-left:0px; margin-right:0px; padding:4px;">
	  {% if p.dish.name|length > 20 %}
		<div class="col-xs-12" style="padding-left:2px;">
			<h3 class="list-group-item-heading" style="color:#845505;margin-bottom:2px;"><b>{{p.dish.name|truncatechars:56}}</b></h3>
		</div>
		<div class="col-xs-7" style="padding-left:2px;">
			<p class="text-small" style="margin-bottom:2px;"><b><i>
			{% if p.dish.othernames %}
				{{p.dish.othernames|truncatechars:20 }}
			{% endif %}
			{% if p.dish.cuisines.all %}
				{% for cuisine in p.dish.cuisines.all|slice:":3"  %}
					({{cuisine|truncatechars:20}})
				{% endfor %}
			{% endif %}
			</i></b></p>
			{% if p.dish.description %}
				<p class="text-small">{{p.dish.description|truncatewords:26}}</p>
			{% endif %}
		</div>
	  {% else %}
		<div class="col-xs-7" style="padding-left:2px;">
			<h3 class="list-group-item-heading" style="color:#845505;margin-bottom:2px;"><b>{{p.dish.name}}</b></h3>
			<p class="text-small" style="margin-bottom: 2px;"><b><i>
			{% if p.dish.othernames %}
				{{p.dish.othernames|truncatechars:20 }}
			{% endif %}
			{% if p.dish.cuisines.all %}
				{% for cuisine in p.dish.cuisines.all|slice:":3"  %}
					({{cuisine|truncatechars:20}})
				{% endfor %}
			{% endif %}
			</i></b></p>
			{% if p.dish.description %}
				<p class="text-small">{{p.dish.description|truncatewords:26}}</p>
			{% endif %}
		</div>
	   {% endif %}
		<div class="col-xs-5" style="padding-left:0px; padding-right:0px;">
			{% if p.location %}
				<img src="{{p.filename}}-med{{p.extension}}" class="img-rounded" width="100%">
			{% else %}
				<img src="{% static 'images/upload-med.jpg' %}" class="img-rounded" width="100%">
			{% endif %}
		</div>
	  </a>
  {% endfor %}
</div>
{## END PHOTOS ##}

<div class="row" style="margin:2px;">
	<div class="col-xs-3" style="padding:1px;">
		{% if list.has_previous %}
			<a class="btn btn-custom btn-block"  href="/userphotos/{{profile.username}}/1/">
		{% else %}
			<a class="btn btn-custom btn-block disabled">
		{% endif %}
		<i class="fa fa-fast-backward" aria-hidden="true"></i></a>
	</div>
	<div class="col-xs-3" style="padding:1px;">
		{% if list.has_previous %}
			<a class="btn btn-custom btn-block" href="/userphotos/{{profile.username}}/{{list.previous_page_number}}">
		{% else %}
			<a class="btn btn-custom btn-block disabled">
		{% endif %}
		<i class="fa fa-step-backward" aria-hidden="true"></i></a>
	</div>
	<div class="col-xs-3" style="padding:1px;">
		{% if list.has_next %}
			<a class="btn btn-custom btn-block" href="/userphotos/{{profile.username}}/{{list.next_page_number}}">
		{% else %}
			<a class="btn btn-custom btn-block disabled">
		{% endif %}
		<i class="fa fa-step-forward" aria-hidden="true"></i></a>
	</div>
	<div class="col-xs-3" style="padding:1px;">
		{% if list.has_next %}
			<a class="btn btn-custom btn-block" href="/userphotos/{{profile.username}}/{{list.paginator.num_pages}}">
		{% else %}
			<a class="btn btn-custom btn-block disabled">
		{% endif %}
		<i class="fa fa-fast-forward" aria-hidden="true"></i></a>
	</div>
</div>

{% else %}
<div class="well-mobile">
<br/>
    <div class="well well-tight well-white">
		<h2>There are no dishes/photos</h2>
		<div style="text-align:center">
			<p>Upload you first dish and/or photo:</p>
			<a href="/dishnew/0/"><img src="{% static 'images/upload-med.jpg' %}" width="60%" class="img-rounded"></a>
		</div>
    </div>
</div>
{% endif %}
{% endblock %}