/* My Custome Stylesheet */

/* Update 5 */


/* First, pell un Bootstrap;s stylesheet */
@import url("../dist/bootstrap/css/bootstrap.min.css");

/* My custome bootstrap style */

html {
  position: relative;
  min-height: 100%;
}

body {
	/*padding-top: 0px;*/
	font-size: 16px;
	line-height: 20px;
	/*color:#993300;*/
	font-family: Arial, Helvetica, sans-serif;
	}
h1 { 
	font-size: 24px;
	font-weight: bold;
	line-height: 26px;
	text-align: left; 
	color: #633f03;
	/*font-family: "MinaReg", Helvetica, serif;*/
	margin: 2px 0px 0px 0px;
	}

h2 {
	font-size: 20px;
	line-height: 22px;
	text-align: left;
	color: #754b04;
	/*font-family: "MinaReg", Helvetica, serif;*/
	font-weight: bold;
	}

h3 {
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	color: #925d04;
	/*font-family: "MinaReg", Helvetica, serif;*/
	}

h4 {font-size:16px; 
	line-height: 18px;
	font-weight: bold;
	color: #b57304;
	/*font-family: "MinaReg", Helvetica, serif;*/
	}

p, li, td, .btn {
	font-size:14px; 
	line-height: 16px;
	/*font-family:"eras_med", serif;*/
	}

img {
  background: url('images/loading512.gif') no-repeat;
}
	
.form-control {
	font-size:18px; 
	line-height: 24px;
	/*height: 40px;*/
	/*padding-top:0px;*/
	}
.upload {
	height: 44px;*/
	}
.smallfont {
	font-size: 12px;
	line-height: 12px;
	color: #636363;	/*font-family:"eras", serif;*/
	}

.btn-lg {
	font-size:18px; 
	font-weight: bold;
	/*line-height: 20px;*/
	/*font-family:"eras", serif;*/
	}

.menu a{	
	font-size:14px;
	font-weight: bold;
	color:#993300;
	padding: 0px; 
	margin: 0px;
	/*font-family: "eras";*/
	}

#bootstrap-overrides .pagination>li>a, .pagination>li>a:hover {
    color: #993300;
}

#bootstrap-overrides .pagination>.disabled>a { color: #777; }
	
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #f5f5f5;
}
	
/*Dropdown menu backgroud color*/
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a
{background-color:#C1C100; background-image:none; }

a { color:#993300;}
a:hover
{
	color: #C1C100;
}

.Hundred > input,select,textarea {width: 100%;}

.breadcrumb{font-size:22px; margin-bottom:10px;}
 .label{
	font-size:16px; 
	line-height: 20px;
	font-family:"Times New Roman", Times, serif; text-transform:uppercase; 
	/*vertical-align:top;*/
}
label  { 
	font-size:16px; 
	line-height: 20px;
	margin-top:5px;
	/*margin-bottom:0px;*/
}

/*Used in main foot bar*/
.footer-rest {
	margin-top:-20px;
	font-size:12px;
	color:#999;
}

.navbar, .navbar-default, .navbar-fixed-top{
	padding: 0px;
	margin-bottom: 0px;
}
/*
.container-fluid{
	padding: 0px 0px 0px 0px;
	margin: 5px 10px 0px 10px;
}
*/
.btn-custom {
	/*margin-left:8px;*/
	/*margin-right:28px;*/
	/*width:96%;*/
  margin:3px;
  background-color: hsl(54, 80%, 31%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e9d739", endColorstr="#8e810f");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#e9d739), to(#8e810f));
  background-image: -moz-linear-gradient(top, #e9d739, #8e810f);
  background-image: -ms-linear-gradient(top, #e9d739, #8e810f);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e9d739), color-stop(100%, #8e810f));
  background-image: -webkit-linear-gradient(top, #e9d739, #8e810f);
  background-image: -o-linear-gradient(top, #e9d739, #8e810f);
  background-image: linear-gradient(#e9d739, #8e810f);
  border-color: #8e810f #8e810f hsl(54, 80%, 24.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.42);
  -webkit-font-smoothing: antialiased;
}

.well{
	padding: 10px;
	margin: 0px;
}

.well-small{
	padding: 2px;
	margin: 0px;
}

.well-white{
	background-color:white;
}



/* My own stiling */

.logo{
	padding-left: 20px;
}

.form-actions {border-top:none;}

.noline {border-top:none;}

.nolinetable td, th  {border:none;}

textarea.form-control{
	font-size: 16px;
	line-height: 18px;
 }
 
.table-white  {
 background-color: #ffffff;
 }

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	vertical-align: middle;
}
 
 table th  {
 background-color: #f5f5f5;
 font-size:18px;
 line-height: 20px;
 }

 .table td  {
 font-size: 14px;
 line-height: 16px;
 }
 
 .table-list td, .table-list th{
	text-align:center;
	vertical-align: middle;
}
 
 .table-small th{
	 font-size: 16px;
	 padding:2;
 } 

.table-small thead th {
vertical-align: middle;
text-align:center;
}

/*Table in main page*/
.table-small td, table-small th  {
	padding: 1px 1px 1px 1px;
	text-align:center;
	vertical-align:middle;
	}
/*Tables with thums*/
.table-thum  h1, 
.table-thum  h2, 
.table-thum  h3, 
.table-thum  h4,
.table-thum  ul,
.table-thum  p
{ padding: 0px; margin: 0px; width: 100%; }
.table-thum td  {
	padding: 1px 5px 1px 1px;
	line-height: 16px;
	border-top: 1px solid #dddddd;
}
.table-thum   {width: 100%;}
/*.table th, .table td*/
.btn-size {
	width:400px;
/*vertical-align: top;*/
}
#bootstrap-overrides .btn-menu{
	padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 4px;
    margin-left: 2px;
    margin-right: 2px;
}

@media (min-width: 1200px) {
    .container{
        width: 1200px !important;
    }
}
@media (min-width: 992px){
	.container {
		width: 98%;
}

#override .padding2{
	padding: 2px;
}

/*
/*.label {vertical-align: top;}*/